<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nightscout.happdanardriver">

    <permission android:name="com.eveningoutpost.dexdrip.permissions.RECEIVE_BG_ESTIMATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="info.nightscout.happdanardriver.MainApp"
        android:allowBackup="true"
        android:process=":mainProcess"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_MODELS"
            android:value="com.hypodiabetic.happ.Objects.Treatment,
                            com.hypodiabetic.happ.Objects.Basal"  />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="pumpdriver.db" />
        <!-- Also up date AA_DB_VERSION in MainActivity onCreate -->
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />

        <activity android:name="info.nightscout.happdanardriver.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="INSULIN_TREATMENT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <receiver android:name="info.nightscout.happdanardriver.AutoStart" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="info.nightscout.danar.ReceiverKeepAlive"
            android:process=":mainProcess">
            <intent-filter>
                <action android:name="info.nightscout.danar.ReceiverKeepAlive.action.PING" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="info.nightscout.danar.ReceiverBG"
            android:exported="true"
            android:process=":mainProcess">
            <intent-filter>
                <action android:name="danaR.action.BG_DATA" />
            </intent-filter>
        </receiver>

        <service
            android:name="info.nightscout.happdanardriver.IncomingService"
            android:enabled="true"
            android:exported="true"
            android:process=":mainProcess">
            <intent-filter>
                <action android:name="info.nightscout.happdanardriver.IncomingService">
                </action>
            </intent-filter>
        </service>
        <service
            android:name="info.nightscout.danar.ServiceConnection"
            android:exported="false"
            android:process=":mainProcess">
            <intent-filter>
                <action android:name="info.nightscout.danar.ServiceConnection" />
            </intent-filter>
        </service>
        <service
            android:name="info.nightscout.danar.services.ServiceBG"
            android:exported="false"
            android:process=":mainProcess" />
        <service
            android:name="info.nightscout.danar.alarm.ServiceAlarm"
            android:exported="false"
            android:process=":mainProcess" />

        <activity
            android:name=".PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.nightscout.happdanardriver.MainActivity" />
        </activity>

    </application>

</manifest>
